/****************************************/
/*	PART: IMPORT CSS
/****************************************/
/* flag */
:root {
  --space-4xs: .4rem;
  --space-3xs: .8rem;
  --space-2xs: 1rem;
  --space-xs: 1.1rem;
  --space-sm: 1.2rem;
  --space-ms: 1.4rem;
  --space-md: 1.6rem;
  --space-mx: 1.8rem;
  --space-lg: 2.0rem;
  --space-xl: 2.4rem;
  --space-2xl: 3.2rem;
  --space-3xl: 4.0rem;
  --space-4xl: 4.8rem;
}

/* function */
/****************************************/
/*	PART: GUIDE PAGE STYLE
/****************************************/
/* container */
.skipNav {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 2;
}
.skipNav a {
  display: block;
  font-size: 1;
  height: 1px;
  width: 0px;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  line-height: 0;
  text-align: center;
}
.skipNav a:focus, .skipNav a:hover, .skipNav a:active {
  width: auto;
  height: 2.8rem;
  margin: 0;
  padding: 0.8rem 0;
  background: #000;
  font-size: 1.4rem;
  line-height: 1.2rem;
  color: #fff;
  z-index: 15;
  box-sizing: border-box;
}

#pg-wrap {
  margin: 0;
}
#pg-headerWrap {
  background: linear-gradient(180deg, #191B2A, #302CA4);
  width: 100%;
  padding: 2rem 1rem 0;
}

.component-nav {
  background: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
}
.component-nav .nav-lst {
  display: flex;
}
.component-nav .nav-lst > li > a {
  display: block;
  padding: 1rem;
  text-align: center;
  transition: 0.5s color ease;
}
.component-nav .nav-lst > li > a::after {
  content: "";
  display: block;
  width: 0;
}
.component-nav .nav-lst > li > a:hover {
  backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #016823;
}
.component-nav .nav-lst > li > a:hover::after {
  content: "";
  display: block;
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease;
  width: 100%;
  bottom: 0;
  height: 0.35rem;
  width: 100%;
  background: #00c542;
}
.component-nav .nav-lst > li > a.is-active {
  backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #7c4bdf;
}
.component-nav .nav-lst > li > a.is-active::after {
  content: "";
  display: block;
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease;
  width: 100%;
  bottom: 0;
  height: 0.35rem;
  width: 100%;
  background: #7c4bdf;
}

.pg-contentWrap {
  padding: 2rem;
}

.component-lst {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.component-lst > li {
  margin-bottom: 4rem;
}
.component-wrap {
  min-width: 375px;
}
.component-wrap ~ .component-wrap {
  margin-left: 2rem;
}
.component-wrap > iframe {
  width: 100%;
  height: 64rem;
  border: 0.2rem #333 solid;
}
.component-item {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.component-item > * {
  padding: 1.5rem 1rem;
  border-top: 1px #222 solid;
  font-family: "roboto";
  font-weight: 400;
}
.component-item > dt {
  flex: 0 0 20%;
}
.component-item > dt:first-child {
  border: 0;
}
.component-item > dt:first-child + dd {
  border: 0;
}
.component-item > dd {
  flex: 0 0 80%;
}

.cp-tit.dep01 {
  font-size: 2.2rem;
}
.cp-tit.dep02 {
  font-size: 1.8rem;
}
.cp-tit.dep02::before {
  content: "";
  display: block;
  background: #00c542;
  width: 1.5rem;
  height: 0.3rem;
}
.cp-tit.dep03 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.cp-tit.dep03::before {
  content: "";
  display: block;
  color: #ff633f;
  margin-right: 1rem;
  display: inline-block;
  content: "\f02e";
  font-family: "iconFont";
  font-weight: 900;
}
.cp-tit + .btnWrap {
  margin-top: 2rem;
}

#cp-wrap {
  padding: 2rem;
}
#cp-wrap .cp-content ~ .cp-content {
  margin-top: 3rem;
}
#cp-wrap .cp-content .btnWrap > .btn {
  margin-bottom: 1rem;
}
#cp-wrap .cp-content > .toolTip_wrap {
  margin: 2rem 0;
}
#cp-wrap .cp-content .field + .field {
  margin: 2rem 0;
}
#cp-wrap .cp-tit.dep01 {
  font-size: 2.2rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}
#cp-wrap .cp-tit.dep01 .info {
  font-size: 1.2rem;
  color: #ff0000;
  line-height: 2rem;
  margin-top: 1rem;
  display: inline-block;
}
#cp-wrap .cp-tit.dep02 {
  font-size: 1.8rem;
  background: #a9b5ca;
  padding: 0.5rem 1rem;
}
#cp-wrap .cp-tit.dep02::before {
  content: "";
  display: block;
  display: none;
}
#cp-wrap .cp-tit.dep03 {
  font-size: 1.6rem;
}
#cp-wrap .cp-tit + .component {
  margin-top: 0.5rem;
}
#cp-wrap .cp-tit + .field {
  margin-top: 2rem;
}

.tblWrap {
  margin: 1.5rem 0 0.5rem;
}
.tblWrap .tbl {
  width: 100%;
}
.tblWrap .tbl th, .tblWrap .tbl td {
  padding: 1rem;
  border-top: 1px #222 solid;
}
.tblWrap .tbl th {
  background: #e6e6e6;
}
.tblWrap .tbl td {
  background: #f5f5f5;
}
.tblWrap .tbl tr:first-child > th, .tblWrap .tbl tr:first-child > td {
  border-top: 0;
}

.hr.divice {
  display: block;
  visibility: visible;
  background: #aaa;
  border: none;
  height: 1px;
}