/****************************************/
/*	PART: IMPORT CSS
/****************************************/
@import 'variables';
@import 'mixin';



/* 2024 스토리북 적용 scss 추가 */
$sb:'.sb';
#{$sb} {
  &-guide {
    & > * {letter-spacing:-.5px;}
    .key {
      &-color {
        &1 {color:$color-orange;}
        &2 {color:$color-violet2;}
        &3 {color:$color-green;}
      }
    }
    .uline {
      &.keyTxt {
        display:inline-block;
        @include el-content(after) {
          background: $color-yellow;
          height: 1rem; margin-top: -1rem;
        }
      &.key {
        &-color {
          &3 {
            @include el-content(after) {
              background:$color-green3;
            }
          }
          &2 {
            @include el-content(after) {
              background: $color-violet3;
            }
          }
        }
      }
      }
    }
    #{$sb} {
      &-tit-h2 {font-size:calc(12px + 1vmin);}
      &-lst.desc {
        & > li {list-style: disc;}
      }
    }
  }
}

.sb-container { margin-bottom: 48px; } 
.sb-section { width: 100%; display: flex; flex-direction: row; gap: 20px; } 

img { object-fit: cover; } 

.storybook{width: 100%; min-width: 500px;}
.storybook.type02 {
  width: calc(100% - 200px);
  margin: 0 auto;
}
.storybook.type03 {
  width: calc(100% - 0px);
  margin: 0 auto;
}

.storybook {
  .btnWrap {
    text-align: center; margin: 0;
  }
}
.cp-content{
  .btnWrap.grow > .btn {
     margin-bottom:1rem
  }
} 


.storybook {
  .cp-tit + .component {
    margin-top: 0.5rem;
  }
}
.storybook {
  .cp-tit.dep02 {
    font-size: 1.8rem;
    background: #a9b5ca;
    padding: 0.5rem 1rem;
  }
} 
.storybook {
  .cp-tit.dep02::before {
    content: "";
    display: block;
    display: none;
  }
} 

/* modal scss */
.storybook {
  .modalPop{
    visibility: hidden;
  }
}
.storybook {
  .modalPop._is-active {
    visibility: visible;
    height: auto;
  }
}

.storybook {
  .modalPop._bottom._is-active {
    bottom:0;
    max-height: 796px;
    transition: bottom ease-in-out 0.3s;
  }
} 

.storybook{
  .modalPop._top._is-active {
    top:0%;
    transition: top ease-in-out 0.3s;
    -webkit-transition: top ease-in-out 0.3s;
    -moz-transition: top ease-in-out 0.3s;
    -ms-transition: top ease-in-out 0.3s;
    -o-transition: top ease-in-out 0.3s;
  }
}

.storybook{
  .modalPop._left._is-active {
    left:0%;
    height:100%;
    transition: left ease-in-out 0.3s;
    -webkit-transition: left ease-in-out 0.3s;
    -moz-transition: left ease-in-out 0.3s;
    -ms-transition: left ease-in-out 0.3s;
    -o-transition: left ease-in-out 0.3s;
  }
}

.storybook{
  .modalPop._center._is-active {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
} 
  

/* Select scss */
.storybook{
  .field-input{
    input.txt-none {width: calc(100% - 2.4rem)}
  }
}


/* tooltip scss */
.storybook{
  .tooltip{text-align: left;}
}


/* accordion scss */
.storybook {
  .accordion-contents{
    display: inherit;
    max-height: 0;
    padding:0rem;
    overflow: hidden;
    border-top: 0px solid #ccc;
    //font-size: 0;
    transition: all 0.8s cubic-bezier(0,1,0,1);
    -webkit-transition: all 0.8s cubic-bezier(0,1,0,1);
    -moz-transition: all 0.8s cubic-bezier(0,1,0,1);
    -ms-transition: all 0.8s cubic-bezier(0,1,0,1);
    -o-transition: all 0.8s cubic-bezier(0,1,0,1);
  } 
}

.storybook.ToggleInToggle {
  .accordion-contents{
    font-size: 0;
  } 
}


.storybook .accordion-contents.active{
  height: auto;
  max-height: 1500px;
  transition: all 0.8s cubic-bezier(1,0,1,0);
  -webkit-transition: all 0.8s cubic-bezier(1,0,1,0);
  -moz-transition: all 0.8s cubic-bezier(1,0,1,0);
  -ms-transition: all 0.8s cubic-bezier(1,0,1,0);
  -o-transition: all 0.8s cubic-bezier(1,0,1,0);
}

.storybook .accordion-contents > div:not(.accordion-wrap){
  border-top: 1px solid #ccc;
  padding:1rem 2rem;
}

.storybook .accordion-contents.be-after::before,
.storybook .accordion-contents.be-after::after{
  clear: both;
  content: '';
  display: inline-block;
}
.storybook .accordion-contents.be-after.active::before,
.storybook .accordion-contents.be-after.active::after{
  height: 1rem;
}